<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <!-- If you delete this meta tag, Half Life 3 will never be released. -->
  <meta name="viewport" content="width=device-width"/>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="${titulo}">Email Template</title>

  <style>

    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: arial, helvetica, sans-serif;
    }

    table {
      margin: 10px auto;
      padding: 0 10px;
      width: 100%;
      max-width: 800px;
    }

    .main-content {
      margin-top: 40px;
    }

    h1 {
      font-size: 28px;
      color: #6C6F70;
      font-weight: 300;
    }
    
    p.subrtitle {
      content: '';
      width: 35px;
      background: #D52B1E;
      border: 1px solid #D52B1E;
      display: block;
      margin: 15px 0 38px;
    }
    p {
      color: #6C6F70;
      font-size: 18px;
      line-height: 35px;
      margin: 5px 0;
    }

    a {
      color: #D52B1E;
      text-transform: uppercase;
      /* margin: 20px 0; */
      display: block;
    }

    a.link {
      color: #6C6F70;
      text-decoration: none;
      font-weight: 700;
      text-transform: none;
      margin: 0;
      display: inline;
    }


    .footer-wrap p {
      font-size: 12px;
      line-height: 20px;
    }
    
    hr {
      border-top: 1px solid #EEEDED;
      display: block;
      margin: 20px 25px;
    }
    
    .title-mail {
	    font-size: 13px;
	    line-height: 23px;
	    text-transform: uppercase;
	    letter-spacing: 5px;
	    font-weight: bold;
	}
  </style>
</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">


  <table cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="880" align="center">
        <!-- Header -->

<table class="head-wrap" bgcolor="#ffffff" align="center" width="880">
  <tr>
    <td class="header container">
      <div class="content">
        <table bgcolor="#ffffff" class="" align="center">
          <tr>
            <td align="left"><img src="https://www.cepsa.com/stfls/CepsaCom/Admin_WebMaster/Contenidos_home/LOGO%20CEPSA/CEPSA-logo-es-2015.png" width="230" class="cepsa-logo" alt="Cepsa logo"/>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<!-- CONTENT -->
<table class="main-content">
  <tr>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td align="left">
              <p class="text" th:text="${estimado}"></p>
              <p class="text" th:text="${body}"></p>
              <p class="text" th:text="${comentarios}"></p>
              <p class="text" th:text="${atentamente}"></p>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>


<hr/>
<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td align="left">
              <p class="text">
              	<span th:text="${infoContenida}"></span>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
      </td>
    </tr>
  </table>

</body>
</html>